<% provide(:title, "About" ) %>
<main>
    <div class="container">
        <h1>About Me</h1>
        <p class="large justify">With an eye for <span class="keyword">detail</span> and a love for <span class="keyword">visual design</span>, I’m a young software engineer who wants to make a real and lasting <span class="keyword">difference</span> in this world we live in. My favorite specialties are <span class="keyword">UX</span> and <span class="keyword">artificial intelligence</span>, especially the field of <span class="keyword">computer vision</span>, where I can apply my love for visual design with state-of-the-art technology. Writing my first line of code at the age of <span class="keyword">fourteen</span>, I’ve since worked with several technologies, including HTML & CSS, Ruby on Rails, Python, C# and the .NET Framework, and a bit of Java and React. I also believe in the importance of <span class="keyword">prototyping</span> and using <span class="keyword">best practices</span> and methodologies including Git, Agile, and project management software.</p>
        
        <p class="large justify">Some <span class="keyword">activities</span> that I really enjoy are <span class="keyword">playing the guitar</span> and capturing beauty through <span class="keyword">photography</span>. I also love spending time in the <span class="keyword">outdoors</span>, and believe that <span class="keyword">nature</span> is a powerful means of connecting to ourselves and to God. It is a place of quiet, where I can put aside the noise and busyness of our world and gaze in awe at the power of our <span class="keyword">Creator</span>.</p>
       
       <p class="large justify">Above all, I’m a <span class="keyword">Christian</span> and Jesus Christ is my <span class="keyword">Lord</span> and <span class="keyword">Savior</span>. How I wish every person would encounter his burning heart of <span class="keyword">love</span>, a love that went so far as to die willingly for us on a cross. I believe Jesus is the <span class="keyword">only cure</span> to our broken and hurting world and that it is only <span class="keyword">His love</span> that can bring true and <span class="keyword">authentic meaning</span> to our lives and everything that we do, in and outside of the workplace. I firmly believe that it is the <span class="keyword">Love of God</span> that ultimately <span class="keyword">heals us</span>, gives us <span class="keyword">hope</span>, and which gives <span class="keyword">meaning</span> to our existence; our existence on this planet and at this time in human history.</p>
    </div>
    <%= render partial: 'icon_blocks/blog', locals: {class: 'green top', icon_class: 'green'} %>
    <div class="button-fixed-container top thin">
        <%= link_to "View My Github<i class='icon fa fa-chevron-right'></i>".html_safe, github_url, class: 'button-fixed ', target: '_blank' %>
        <%= link_to "View On LinkedIn<i class='icon fa fa-chevron-right'></i>".html_safe, linkedin_url, class: 'button-fixed ', target: '_blank' %>
    </div>
    <%= render partial: 'icon_blocks/resume' %>
    <div class="container">
        <h2>Projects</h2>
            <p class="large justify">
                What better way to show that you know something than to actually use that knowledge to build a working product? Of all the projects I've worked on, I don't think there is an app I'm more proud of than this website, which I've built from scratch, from the ground up. From prototyping in Adobe XD, to late nights spent debugging my Ruby code, to my never-ending plethora of new ideas for continuous and iterative improvement, this has been a run for the ride.
            </p> 
            <p class="large justify">
                In addition, during my role as Lead Web Developer of Catholics for Hire, I've served as the main web developer for the following Wordpress websites, which I've received permission to share here. (Note: I do not hold responsibility for or endorse the content of external websites.)
            </p>
    </div>
    <%= render partial: 'icon_blocks/github' %>
    <div class="button-fixed-container top">
        <%= link_to "Catholics for Hire<i class='icon fa fa-chevron-right'></i>".html_safe, "https://catholicsforhire.com",
                    target: 'blank', rel: 'noopener', class: 'button-fixed button-wide ' %>
        <%= link_to "Clarifying Catholicism<i class='icon fa fa-chevron-right'></i>".html_safe, "https://clarifyingcatholicism.org",
        target: 'blank', rel: 'noopener', class: 'button-fixed button-wide ' %>
        <%= link_to "The Nonprofit Fundraising Channel<i class='icon fa fa-chevron-right'></i>".html_safe, "https://nfcfundraisingchannel.com",
        target: 'blank', rel: 'noopener', class: 'button-fixed button-wide ' %>
    </div>
    <div class="container">       
        <h2>Experience</h2>
        <div class="timeline">
            <div class="timeline-inner">
                <span class="dot-beginning"></span>
                 <div class="timeline-item">
                    <h3><span class="timeline-year">2022</span><span class="dot"></span><span
                            class="timeline-heading">Associate Application Developer at IBM</span></h3>
                    <p>Complete training to become Java programmer and work with clients in Agile environment</p>
                    <p>Interact with clients and work on a team, with regular meetings and version control</p>
                </div>               
                <div class="timeline-item">
                    <h3><span class="timeline-year">2022</span><span class="dot-small"></span><span
                            class="timeline-heading">Senior Thesis on Strategies for Modern Convolutional
                            Networks</span></h3>
                    <p>Gave general overview of AI, as well as in-depth explanation of convolutional neural networks</p>
                    <p>Studied ground-breaking articles from computer vision industry like AlexNet and ResNet</p>
                    <p>Discussed techniques to improve performance of convolutional neural networks</p>
                </div>
                <div class="timeline-item">
                    <h3><span class="timeline-year">2022</span><span class="dot"></span><span
                            class="timeline-heading">Software Engineering Internship at St. Paul Center</span>
                    </h3>
                    <p>Transitioned large Wordpress site to smaller sites</p>
                    <p>Used Ruby on Rails, HTML, CSS, and JavaScript</p>
                    <p>Used Agile workflow, with regular meetings, demos, bug reviews, version control</p>
                </div>
                <div class="timeline-item">
                    <h3><span class="timeline-year">2021</span><span class="dot"></span><span
                            class="timeline-heading">Started working on personal portfolio website</span>
                    </h3>
                    <p>Design entire website mobile-first</p>
                    <p>Protype all functions of website using Adobe XD</p>
                    <p>Build website entirely from scratch using HTML/CSS, JavaScript, and the Ruby on Rails Stack</p>
                    <p>Create blog functionality with a pretty inteface, and an interactive, dynamic admin panel</p>
                    <p>Use Version Control and Agile Methodology, like continuous improvement and an incremental lifecycle model</p>
                </div>
                <div class="timeline-item">
                    <h3><span class="timeline-year">2021</span><span class="dot-small"></span><span
                            class="timeline-heading">Class Project: Requirements for Nursing Clinicals</span></h3>
                    <p>Used to store and retrieve medical records</p>
                    <p>Used Agile methodology</p>
                    <p>Collaborated with team, held regular meetings, organized interviews with stakeholders</p>
                    <p>Created diagrams, feature files; co-created final specification document</p>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2021</span><span class="dot"></span><span
                            class="timeline-heading">Introduction to AI and computer vision</span></h3>
                    <p>Read books on AI and computer vision</p>
                    <p>Read through most of major groundbreaking computer vision papers</p>
                    <p>Implemented similar concepts with Keras, Tensorflow and Python</p>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2021</span><span class="dot"></span><span
                            class="timeline-heading">Lead Web Developer for Startup</span></h3>
                    <p>Performed SQL Tasks, interacted with Linux server, configured domain</p>
                    <p>Collaborated and led team, communicated with clients</p>
                    <p>Created responsive websites using Wordpress, Elementor Pro, and CSS</p>
                    <p>Designed projects using Adobe XD, Premiere Pro, Illustrator, Photoshop, After Effects, CSS</p>
                    <p>Improved project workflow by introducing structured documents/requirements</p>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2021</span><span class="dot-small"></span><span
                            class="timeline-heading">Class Project: Mobile dictionary app</span></h3>
                    <p>Used Xamarin, C# and .NET</p>
                    <p>Co-created interface using XAML</p>
                    <p>Served as lead programmer and created most of backend</p>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2018</span><span class="dot-small"></span><span
                            class="timeline-heading">Started job as computer lab assistant</span></h3>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2018</span><span class="dot-small"></span><span
                            class="timeline-heading">Created page template using HTML and web library</span></h3>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2017</span><span class="dot"></span><span
                            class="timeline-heading">Created three workbooks in Adobe InDesign</span></h3>
                    <p>First experience with Adobe Creative Cloud</p>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2016</span><span class="dot-small"></span><span
                            class="timeline-heading">Wrote apps using the Windows Presentation Foundation (WPF)</span></h3>
                    <p>Used technologies like LINQ and data binding</p>
                    <p>Added application styles and multiple themes</p>
                    <p>Save records in text file, show reports, add additional users.</p>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2015</span><span class="dot"></span><span
                            class="timeline-heading">Began learning HTML & CSS fundamentals</span></h3>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2015</span><span class="dot-small"></span><span
                            class="timeline-heading">Started learning Microsoft C#</span></h3>
                    <p>Learned important OOP and Data Structures fundamentals</p>
                    <p>.NET Framework 4.5</p>
                </div>

                <div class="timeline-item">
                    <h3><span class="timeline-year">2013</span><span class="dot-small"></span><span
                            class="timeline-heading">Wrote first computer app using Visual Basic</span></h3>
                    <p>Introduction to object-oriented programming</p>
                </div>
                <span class="dot-end"></span>
            </div>
        </div>
    </div>
</main>
 