<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio | Chris Centrella</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Chris Centrella">
    <meta name="description" content="Christian web designer, software engineer">
    <meta name="keywords" content="Chris Centrella, christian, web, designer, developer, software, engineer, website">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
      <div class="hero">
        <div class="hero-image">
          <div class="hero-overlay">
            <h1 class="logo">Chris<br />
              Centrella</h1>
            <div class="flex">
              <h2 class="logo-tagline">Software Engineer</h2>
            </div>
          </div>
        </div>
        <div class="hero-about">
          <h1>About Me</h1>
          <p class="large">A learning-oriented and fast-paced early professional, I’m passionate about integrating cutting-edge technology with a love for <span class="keyword">people</span> and the <span class="keyword">environment</span>. </p>
          <p class="large">Especially intriguing to me is the field of <span class="keyword">artificial intelligence</span> and <span class="keyword">machine learning</span>, where I can use my skills to deliver <span class="keyword">authentic value</span> to the world through the use of sophisticated automation and intelligence. </p>
          <div class="button-container about-button">
            <%= link_to "View My Profile<i class='icon fa fa-chevron-right'></i>".html_safe, about_path, class: 'button' %>
          </div>
        </div>
      </div>
          <div class="button-fixed-container-dark">
            <%= link_to "View My Profile<i class='icon fa fa-chevron-right'></i>".html_safe, about_path, class: 'button-fixed' %>
            <%= link_to "View My Github<i class='icon fa fa-chevron-right'></i>".html_safe, github_url, class: 'button-fixed', target: '_blank' %>
            <%= link_to "View My Resumé<i class='icon fa fa-chevron-right'></i>".html_safe, asset_url('resume-p.pdf'), class: 'button-fixed', target: '_blank' %>
            <%= link_to "View On LinkedIn<i class='icon fa fa-chevron-right'></i>".html_safe, linkedin_url, class: 'button-fixed', target: '_blank' %>
          </div>
          <div class="container">
            <h1>Projects</h1>
            <p class="large">
              What better way to show that you know something than to actually use that knowledge? Here are some projects which I’ve worked on:
            </p>
          </div>
          <div class="button-fixed-container-dark">
            <%= link_to "Personal Portfolio<i class='icon fa fa-chevron-right'></i>".html_safe, about_path, class: 'button-fixed button-wide' %>
            <%= link_to "Browse Repository<i class='icon fa fa-chevron-right'></i>".html_safe, github_url, class: 'button-fixed highlight-button button-wide', target: '_blank' %>
          </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
