<!DOCTYPE html>
<html>
<head>
    <title>Portfolio | Chris Centrella</title>
    <meta charset="utf-8">
    <meta name="author" content="Chris Centrella">
    <meta name="description" content="Christian web designer, software engineer">
    <meta name="keywords" content="Chris Centrella, christian, web, designer, developer, software, engineer, website">
    <meta name="width" content="width=device-width, content=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body>
    <header>
        <div class="hero-image">
            <div class="hero-overlay">
                <h1 class="logo-large">Chris<br />Centrella</h1>
                <div class="flex">
                    <h2 class="logo-tagline">Web Designer</h2>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1>About Me</h1>
        <p class="large">
            I’m an aspiring software engineer. I especially love creating user interfaces, because it allows me to
            uniquely
            express what matters most—to myself, my clients, or my company.
        </p>
        <div class="button-div"><a class="button" href="/about">Work Experience</a></div>
        <h1>Vision</h1>
        <p class="large">
            To bring the love and healing of Jesus to His children, through technology.
        </p>
        <div class="button-div"><a class="button" href="/mission">Mission Statement</a></div>

        <h1>Captivate</h1>
        <p class="large">
            It’s my passion to capture the moment through the gift of photography. Beautiful things bring hope and light
            to
            those who are depressed. Photography allows me to capture and preserve what’s beautiful. </p>
        <div class="button-div"><a class="button" href="#">Photo Gallery</a></div>
        <h1>Love</h1>
        <p class="large">
            Naked on the cross, Jesus cried out to His Father to have mercy on those who killed Him: “Father, forgive
            them,
            for they know not what they do.” Likewise, Jesus calls me to love each of His children, no matter what they
            have
            done or where they have been.</p>
        <div class="button-div"><a class="button" href="#">Personal Blog</a></div>
    </main>
<%= render 'layouts/footer' %>
</body>
</html>