<div class="hero">
  <div class="hero-image">
    <div class="hero-overlay">
      <h1 class="logo">Chris<br />
        Centrella</h1>
      <h2 class="logo-tagline">Software Engineer</h2>
    </div>
  </div>
  <div class="hero-about">
    <h2 class="hero-title">About Me</h2>
    <p class="large justify">With an eye for <span class="keyword">detail</span> and a love for <span class="keyword">visual design</span>, I’m a young software engineer who wants to make a real and lasting <span class="keyword">difference</span> in this world we live in.</p>
    <p class="large justify">Above all, I’m a <span class="keyword">Christian</span> and Jesus Christ is my <span class="keyword">Lord</span> and <span class="keyword">Savior</span>. I believe Jesus is the <span class="keyword">only cure</span> to our broken and hurting world and that it is only <span class="keyword">His love</span> that can bring true and <span class="keyword">authentic meaning</span> to our lives and everything that we do, in and outside of the workplace.</p>
    <div class="button-container about-button">
      <%= link_to "View My Profile<i class='icon fa fa-chevron-right'></i>".html_safe, about_path, class: 'button' %>
    </div>
  </div>
</div>
<div class="button-fixed-container quick-links">
  <%= link_to "View My Profile<i class='icon fa fa-chevron-right'></i>".html_safe, about_path, class: 'button-fixed' %>
  <%= link_to "View My Blog<i class='icon fa fa-chevron-right'></i>".html_safe, blog_path, class: 'button-fixed' %>
</div>
<%= render partial: 'icon_blocks/blog', locals: {class: 'top green', icon_class: 'green'} %>
<div class="button-fixed-container top thin">
    <%= link_to "View My Github<i class='icon fa fa-chevron-right'></i>".html_safe, github_url, class: 'button-fixed ', target: '_blank' %>
    <%= link_to "View On LinkedIn<i class='icon fa fa-chevron-right'></i>".html_safe, linkedin_url, class: 'button-fixed ', target: '_blank' %>
</div>
<%= render partial: 'icon_blocks/resume' %>
<div class="container">
  <h2>Projects</h2>
  <p class="large justify">
    What better way to show that you know something than to actually use that knowledge to build a working product? Of all the projects I've worked on, I don't think there is an app I'm more proud of than this website, which I've built from scratch, from the ground up. From prototyping in Adobe XD, to late nights spent debugging my Ruby code, to my never-ending plethora of new ideas for continuous and iterative improvement, this has been a run for the ride.
  </p> 
  <p class="large justify">
    In addition, during my role as Lead Web Developer of Catholics for Hire, I've served as the main web developer for the following Wordpress websites, which I've received permission to share here. (Note: I do not hold responsibility for or endorse the content of external websites.)
  </p>
</div>
<%= render partial: 'icon_blocks/github' %>
<div class="button-fixed-container thin top">
  <%= link_to "Catholics for Hire<i class='icon fa fa-chevron-right'></i>".html_safe, "https://catholicsforhire.com",
            target: 'blank', rel: 'noopener', class: 'button-fixed button-wide' %>
  <%= link_to "Clarifying Catholicism<i class='icon fa fa-chevron-right'></i>".html_safe, "https://clarifyingcatholicism.org",
  target: 'blank', rel: 'noopener', class: 'button-fixed button-wide' %>
  <%= link_to "The Nonprofit Fundraising Channel<i class='icon fa fa-chevron-right'></i>".html_safe, "https://nfcfundraisingchannel.com",
  target: 'blank', rel: 'noopener', class: 'button-fixed button-wide' %>
</div>