<%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name), method: 'put', class: 'contact-form') do |f|%>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container form-container">
    <h1>My Profile</h1>
  </div>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'field' %><br/>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p class="field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>
  <p><em>Leave blank if you do not want to change password.</em></p>
  <%= f.password_field :password, autocomplete: "new-password", placeholder: 'New Password', class: 'field' %><br/>
  <% if @minimum_password_length %>
      <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
  <% end %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', class: 'field' %><br/>
  <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Current Password', class: 'field' %><br/>

  <div class="actions">
    <%= f.submit "Update Profile", class: 'button-fixed submit-button'%>
  </div>
<% end %>

<!--<div class="container">
  <h2>Close Account</h2>
  <p>Unhappy? You can close your account at any time.</p>
  <div class="button-fixed-container">
    <%= link_to "Cancel my account", registration_path(resource_name), status: :see_other, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'button-fixed' %>
    <%= link_to "Back", :back, class: 'button-fixed' %>
  </div>
</div>-->