<%= form_with(model: resource, scope: resource_name, url: unlock_path(resource_name), class: 'contact-form') do |f|%>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container form-container">
        <h1>Resend Unlock Instructions</h1>
  </div>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'field' %><br/>

  <div class="actions">
    <%= f.submit "Resend Instructions", class: 'button-fixed submit-button'%>
  </div>
  <div class="field">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
