<% provide(:title, @post.title) %>
    <article class="post">
        <section class="post-header">
            <div class="post-header-top">
                <h1><%= @post.title %></h1>
            </div>
            <div class="post-header-bottom">
                <div class="post-details">
                    <p><i class="calendar large"></i> <%= @post.created_at.strftime('%B %d, %Y') %> </p>
                    <p><i class="clock large"></i> <%= @post.get_time %> </p>
                </div>
            </div>
            <div class="container">
                <p class="post-author"><i class="person large"></i><%= User.get_user_name(@post.user_id) %></p>
                <p class="post-description"><%= @post.description %></p>
            </div>
        </section>
        <section class="post-content container">
            <p><%= @post.content %></p>
        </section>
        <section class="subscribe container">
            <%# <h2>Subscribe</h2> %>
        </section>
    </article>