<header>
  <img src="/assets/favicon.png" alt="profile image" class="logo-image" />
  <h1 class="logo">
    <a href="/">Chris Centrella</a>
  </h1>
  <label class="menu-toggle" for="toggle">
    <%= image_tag "icons/menu.svg", class: 'menu-toggle' %>
  </label>
  <input type="checkbox" id="toggle" />
  <nav class="navbar">
    <ul>
      <li class="nav-item">
        <a href="/" class="<%= 'active' if current_page?(root_path) %>">Home</a>
      </li>
      <li class="nav-item">
        <a href="/resume" class="<%= 'active' if current_page?('/resume') %>">Resume</a>
      </li>
      <li class="nav-item">
        <a href="/highlights" class="<%= 'active' if current_page?('/highlights') %>">Highlights</a>
      </li>
      <li class="nav-item">
        <a href="/specialties" class="<%= 'active' if current_page?('/specialties') %>">Specialties</a>
      </li>
      <li class="nav-item">
        <a href="/interests" class="<%= 'active' if current_page?('/interests') %>">Interests</a>
      </li>
      <li class="nav-item">
        <a href="/blog" class="<%= 'active' if current_page?('/blog') %>">Blog</a>
      </li>
      <li class="nav-item">
        <a target="_blank" href="https://lightroom.adobe.com/gallery/35c62e7ff3ce476f9ae5b07994eb6f15">
          Photo Gallery
        </a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="<%= 'active' if current_page?('/contact') %>">Contact Me</a>
      </li>
    </ul>
  </nav>
  <div class="navbar-sticky">
    <h1 class='logo'><%= link_to 'CC', root_path %></h1>
  </div>
</header>
