    <!--Footer-->
    <footer>
        <div class="footer-top">
            <h2 class='logo-small'><%= link_to 'Chris Centrella', root_path %></h2>
        </div>
        <div class="footer-bottom">
            <div class="buttons">
                <%= link_to "Vision<i class='icon fa fa-chevron-right'></i>".html_safe, mission_path, class: 'footer-button' %>
                <%= link_to "Work<i class='icon fa fa-chevron-right'></i>".html_safe, about_path, class: 'footer-button' %>
                <div class="flex-break"></div>
                <%= link_to "Photos<i class='icon fa fa-chevron-right'></i>".html_safe, photos_path, class: 'footer-button' %>
                <%= link_to "Blog<i class='icon fa fa-chevron-right'></i>".html_safe, blog_path, class: 'footer-button' %>
            </div>
            <hr />
            <p class="copyright">© 2021 Chris Centrella.
                All rights reserved.</p>
            <div class="socials">
                <%= link_to (image_tag "icons/linkedin.svg"), 
                "https://www.linkedin.com/in/ccentrella/",class: 'footer-social',
                target: 'blank', rel: 'noopener'%>
                <%= link_to (image_tag "icons/mail.svg"), 
                contact_path, class: 'footer-social',
                target: 'blank', rel: 'noopener'%>
                <%= link_to (image_tag "icons/facebook.svg"), 
                "https://www.facebook.com/ccentrella.j/",class: 'footer-social',
                target: 'blank', rel: 'noopener'%>
            </div>
        </div>
    </footer>