    <!--Footer-->
    <footer>
        <div class="footer-top">
            <h2 class='logo-small'><%= link_to 'Chris Centrella', root_path %></h2>
        </div>
        <div class="footer-bottom">
            <div class="buttons">
                <%= link_to 'Vision', mission_path, class: 'footer-button' %>
                <%= link_to 'Work', about_path, class: 'footer-button' %>
                <%= link_to 'Photos', '#', class: 'footer-button' %>
                <%= link_to 'Blog', '#', class: 'footer-button' %>
            </div>
            <hr />
            <p class="copyright">© 2021 Chris Centrella.
                All rights reserved.</p>
        </div>
    </footer>