<header>
  <div class="banner-image">
    <div class="banner-overlay">
      <h1 class='logo'><%= link_to 'Chris Centrella', root_path %></h1>
      <div class="flex navbar-outer">
        <h2 class="logo-tagline-header">Web Designer</h2>
        <input type="checkbox" id="toggle">
        <label for="toggle">
          <%= image_tag "icons/menu.svg", class: 'menu-toggle' %>
        </label>
        <div class="navbar">
          <ul>
            <li class="nav-item <%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
            <li class="nav-item <%= 'active' if current_page?(about_path) %>"><%= link_to 'Work', about_path %></li>
            <li class="nav-item <%= 'active' if current_page?(mission_path) %>"><%= link_to 'Vision', mission_path %></li>
            <li class="nav-item <%= 'active' if current_page?(photos_path) %>"><%= link_to 'Photos', photos_path %></li>
            <li class="nav-item <%= 'active' if current_page?(blog_path) %>"><%= link_to 'Blog', blog_path %></li>
            <li class="nav-item <%= 'active' if current_page?(contact_path) %>"><%= link_to 'Contact Me', contact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="flash-container">
  <div class="flash flash-warning" style="margin-bottom:15px">
    <p><strong>Website under construction.</strong><br/>
      Some features may not work properly.</p>
  </div>
</div>
