<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield (:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Chris Centrella">
    <meta name="description" content="Christian web designer, software engineer">
    <meta name="keywords" content="Chris Centrella, christian, web, designer, developer, software, engineer, website">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= auto_discovery_link_tag :rss, blog_url(format: :rss) %>

  </head>
  <body>
    <% if !flash.empty? %>
      <div class="flash-container">
        <% flash.each do |message_type, message| %>
          <div class="flash flash-<%= message_type %>"><p><%= message %></p></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
