<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield (:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Chris Centrella">
    <meta name="description" content="Christian web designer, software engineer">
    <meta name="keywords" content="Chris Centrella, christian, web, designer, developer, software, engineer, website">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "header.js" %>
    <%= javascript_include_tag "main.js" %>

  </head>
  <body onscroll="stickyNavbar();">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
