<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield (:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Chris Centrella">
    <meta name="description" content="10 years of coding experience, with extensive knowledge of frontend and backend.
     Exceptional debugging and problem solving using Root Cause Analysis (RCA). Working knowledge of .NET (C#),
     React, Ruby, Swift, Java and Python. Obsessed with the user experience. Excellent presentation skills. AWS certified.">
    <meta name="keywords" content="Chris Centrella, software engineer, systems design, Data Structures,
     Project Management, Object-Oriented Programming (OOP), Debugging, Prototyping, Problem Solving,
     Test Case Generation, Agile Methodologies, API Testing, User Interface Design, C#, React.js,
     Ruby on Rails, Swift, Cross-team Collaboration, Computer Vision, Machine Learning, Web Development, iOS Development">
    <meta name="thumbnail" content=<%=asset_path('thumbnail.png')%> />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= auto_discovery_link_tag :rss, blog_url(format: :rss) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
